*{
    margin: 0;
    padding: 0;
                                                                   
}

body{
    box-sizing: border-box ;
    margin: auto;
    width: 1500px;
    height: 900px;
}

.wrapper{
    font-family: 'CRAMPS', sans-serif;
    background-image: url("backimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.wrapper-header-footer{
    display: flex;
    flex-direction: column;
}
header{
    height: 90%;
}
.header-menu{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 350px;
    height: 90%;
}

.myphoto{
    border-radius: 100%;
    width: 50px;
    height: 100px;
    margin: 20px auto auto auto;
}
.ul{
    list-style: none; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}


.list-menu{
    font-size: 32px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 30px;
    text-align: start;
    cursor: pointer;
    width: 275px;
    height: 60px;
    background-color: transparent;
    -webkit-border-top-right-radius: 100px;
    -webkit-border-bottom-right-radius: 100px;
    -moz-border-radius-topright: 100px;
    -moz-border-radius-bottomright: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
.list-menu:hover{

    transition: 1s;
    background-color: blue;
}
li a{
    text-decoration: none;
    color: white;
}
.ghost{
    width: 60px;
    padding-right: 5px;
}

.pacman{
    position: absolute;
    width: 60px;
    display: none;
}
.pacman:hover{
    display: yes;
}

.myphoto{
    width: 200px;
    height: 200px;
}
main{
    font-weight: 300;
    font-family: 'Dosis', sans-serif;
    width: 1150px;
    height: 899px;
    color: white;
    background-size:contain;
    background-repeat: no-repeat;
}

h1{
    padding: 100px 0 50px 0 ;
    font-size: 72px;
}
h2{
    
}
.p{
    font-size: 52px;
    padding-bottom: 20px;

}
.p2{
    font-size: 52px;
    padding-bottom: 20px;
}

.footer{
    width: 200px;
    margin-left: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.linkedin{
    transition: 1s;

}
.linkedin:hover{
    transition: 1s;
    transform: scale(1.4);
}
.github{
    transition: 1s;

}
.github:hover{
    transition: 1s;
    transform: scale(1.4);
}
